.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 13px 47px;
    border: 1px solid #c2373c;
    border-radius: 4px;
    background: #ff5a62;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff5a62), to(#c2373c));
    background: -moz-linear-gradient(top, #ff5a62, #c2373c);
    background: linear-gradient(to bottom, #ff5a62, #c2373c);
    -webkit-box-shadow: #ff535a 0px 42px 54px 10px;
    -moz-box-shadow: #ff535a 0px 42px 54px 10px;
    box-shadow: #ff535a 0px 42px 54px 10px;
    text-shadow: #7a2326 1px -1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid ##f3454b;
    background: #ff6c76;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff6c76), to(#e94248));
    background: -moz-linear-gradient(top, #ff6c76, #e94248);
    background: linear-gradient(to bottom, #ff6c76, #e94248);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #c2373c;
    background: -webkit-gradient(linear, left top, left bottom, from(#c2373c), to(#c2373c));
    background: -moz-linear-gradient(top, #c2373c, #c2373c);
    background: linear-gradient(to bottom, #c2373c, #c2373c);
}
